go 1.24.1

use (
	.
	./.gitlab/steps/changelog
	./.gitlab/steps/create_gitlab_release
	./dist/steps/oci/fetch
	./dist/steps/step/oci/build
	./dist/steps/step/oci/fetch
	./dist/steps/step/oci/promote
	integration_test
)
